/* Color Palette */
:root {
  --color-main: #121212;
  --color-secondary: #f4feff;
  --color-btn-primary: #cfa348;
  --color-btn-secondary: #f2f3ff;
  --color-btn-nav: #10143b;
  --color-footer: #0c0f2b;
  --color-plain: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background-color: var(--color-main);
  color: var(--color-plain);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hind Vadodara", sans-serif;
  font-size: 1.6rem;
  line-height: 2.397rem;
}

h1,
p,
li,
a {
  color: var(--color-plain);
}

h1 {
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 6.261rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}

/* normalize.css ends here */

.fgt-pwd-section {
  background: url("./images/Frame\ 138.png");
  padding: 64px 272px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-grow: 1;
}

.app-fgt-pwd-container {
  background: white;
  column-gap: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-height: 353px;
  max-width: 896px;
}

.app-fgt-pwd-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/forgot-password.png");
  background-repeat: no-repeat;
  height: 602px;
  max-height: 353px;
  width: 368px;
}

.app-fgt-pwd-heading {
  color: var(--color-main);
  font-size: 4rem;
  font-weight: 400;
  line-height: 5rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.app-fgt-pwd-form {
  display: flex;
  flex-direction: column;
  padding: 0 58px 40px 60px;
  text-align: center;
}

.app-fgt-pwd-input {
  border-bottom: 1px solid #dcdcdc;
  border: 0;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 64px;
  max-width: 400px;
  outline: 0;
  padding-bottom: 0.8rem;
  padding-top: 4rem;
  width: 100%;
}

.app-fgt-pwd-pwd-mask {
  align-self: flex-end;
  margin-bottom: 8px;
  margin-left: -14px;
}

.app-fgt-pwd-btn:hover {
  cursor: pointer;
}

.app-fgt-pwd-btn {
  border: 0;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

.app-fgt-pwd-btn {
  background-color: var(--color-btn-primary);
  border-radius: 10px;
}

.app-fgt-pwd-btn {
  color: white;
  padding: 16px 181px;
}

.app-fgt-pwd-pwd-container {
  display: flex;
}

.app-fgt-pwd-form {
  padding: 40px 64px 71px;
}

.app-fgt-pwd-form-field {
  max-width: fit-content;
}
